<div
  id="main Screen"
  class="min-w-screen min-h-screen bg-slate-200 flex items-center justify-center px-5 py-5"
>
  <div
    id="Calculator Container"
    class="w-full mx-auto max-w-[25rem]  lg:rounded-3xl lg:flex lg:max-w-[50rem] bg-white  mx rounded-t-xl rounded-b-xl overflow-hidden"
  >
    <div id="Upper Screen" class="lg:w-[40rem] lg:border-4">
      <h1
        id="Heading"
        class="text-center text-slate-600 font-bold text-3xl my-5"
      >
        Calculator
      </h1>

      <div
        id="Function Screen"
        class="w-full h-40 lg:h-full border-y-4 bg-slate-500"
      >
        <div
          id="Calc function"
          class="w-full text-2xl text-white font-thin py-4 px-4 text-right"
        >
          {{ FuncT }}
        </div>

        <div
          id="Result"
          class="w-full text-6xl lg:text-8xl lg:pt-12 text-white font-medium py-4 px-4 text-right"
        >
          {{ calValue }}
        </div>
      </div>
    </div>

    <div id="Button Screen" class="w-full">
      <div id="First Row" class="flex w-full">
        <div
          id="Clear"
          class="w-2/4 border-4 text-orange-500 hover:bg-gray-500 hover:text-white hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('c', 'function')"
        >
          C
        </div>
        <div
          id="Percentage"
          class="w-1/4 border-4 text-orange-500 hover:bg-orange-500 hover:text-white hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('%', 'function')"
        >
          %
        </div>
        <div
          id="Divide"
          class="w-1/4 border-4 text-orange-500 hover:bg-orange-500 hover:text-white hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('/', 'function')"
        >
          /
        </div>
      </div>

      <div id="Second Row" class="flex w-full">
        <div
          id="7"
          class="w-1/4 border-4 hover:bg-gray-300 hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('7', 'number')"
        >
          7
        </div>
        <div
          id="8"
          class="w-1/4 border-4 hover:bg-gray-300 hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('8', 'number')"
        >
          8
        </div>
        <div
          id="9"
          class="w-1/4 border-4 hover:bg-gray-300 hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('9', 'number')"
        >
          9
        </div>
        <div
          id="Multiply"
          class="w-1/4 border-4 text-orange-500 hover:bg-orange-500 hover:text-white hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('*', 'function')"
        >
          X
        </div>
      </div>

      <div id="Third Row" class="flex w-full">
        <div
          id="4"
          class="w-1/4 border-4 hover:bg-gray-300 hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('4', 'number')"
        >
          4
        </div>
        <div
          id="5"
          class="w-1/4 border-4 hover:bg-gray-300 hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('5', 'number')"
        >
          5
        </div>
        <div
          id="6"
          class="w-1/4 border-4 hover:bg-gray-300 hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('6', 'number')"
        >
          6
        </div>
        <div
          id="Minus"
          class="w-1/4 border-4 text-orange-500 hover:bg-orange-500 hover:text-white hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('-', 'function')"
        >
          -
        </div>
      </div>

      <div id="Fourth Row" class="flex w-full">
        <div
          id="1"
          class="w-1/4 border-4 hover:bg-gray-300 hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('1', 'number')"
        >
          1
        </div>
        <div
          id="2"
          class="w-1/4 border-4 hover:bg-gray-300 hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('2', 'number')"
        >
          2
        </div>
        <div
          id="3"
          class="w-1/4 border-4 hover:bg-gray-300 hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('3', 'number')"
        >
          3
        </div>
        <div
          id="Plus"
          class="w-1/4 border-4 text-orange-500 hover:bg-orange-500 hover:text-white hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('+', 'function')"
        >
          +
        </div>
      </div>

      <div id="Fifth Row" class="flex w-full">
        <div
          id="0"
          class="w-1/4 border-4 hover:bg-gray-300 hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('0', 'number')"
        >
          0
        </div>
        <div
          id="."
          class="w-1/4 border-4 hover:bg-gray-300 hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('.', 'number')"
        >
          .
        </div>
        <div
          id="="
          class="w-2/4 border-4 bg-orange-500 text-white hover:border-2 px-2 py-3 text-center text-2xl"
          (click)="onClick('=', 'function')"
        >
          =
        </div>
      </div>
    </div>
  </div>
</div>
